*, body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}
h3 {margin: 15px 0;}
.calculator {text-align: center; padding: 20px 0; background-color:aliceblue}
.calculator-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.calculator-wrapper .calculator-item {
    padding: 15px 20px;
    border: 1px solid #cccccc;
    box-shadow: 2px 2px 4px #ccc;
    margin: 0 10px;
    cursor: pointer;
    background-color: #fff;
}
.calc__result {padding: 20px 30px;}
/* .calc__result span {padding: 20px 30px;} */
.calculator-item.calculator-item__active {background-color: #04ff00;}
.xclear {
    height: 1px;
    width: 500px;
    display: inline-block;
    background-color:rgb(173, 173, 173);
}
.calculator-item.result {background-color:rgb(146, 206, 255);}
.error {color: red; font-size: 18px;}